name: Build & Publish Docker Image

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    name: Build and Publish Docker image
    runs-on: ${{ vars.RTLDEV_MW_CI_OS }}
    timeout-minutes: 12
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/rtldev_mid_dnscontrol
          tags: latest
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .devcontainer
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
